$background-color: rgb(25, 29, 50);
$text-color: rgb(238, 240, 242);
$tealblue: rgb(51, 109, 130);
$russiangreen: rgb(115, 149, 111);
$middlebluegreen: rgb(129, 230, 217);
$font-family_1: "Pathway Gothic One", sans-serif;
$font-family_2: "League Gothic", sans-serif;

.movie-card {
  height: 680px;
  border-radius: 15px;
  color: $text-color;
  background-color: $tealblue;
  margin: 10px;
  padding: 10px;
}

.card-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

#movie-card {
  margin: 10px;
}

.card-title {
  font-family: $font-family_2;
  font-weight: 300;
  font-size: 32px;
}

.description {
  font-size: 13px;
  overflow: hidden;
  height: 100px;
}

.open {
  border: none;
  display: inline-block;
  background-color: $russiangreen;
  font-size: 14px;
  color: $background-color;
  font-family: $font-family_1;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s opacity;
  width: 100%;
}

.open:hover,
.open:focus {
  cursor: pointer;
  opacity: 0.5;
  background-color: $middlebluegreen;
  color: $background-color;
}

@media all and (max-width: 775px) {
  .movie-card {
    height: auto;
    display: block;
    margin: 15px;
  }
}
